{
  "semi": false,
  "tabWidth": 2,
  "printWidth": 120,

  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^(@modals|@pages)/(.*)$",
    "^(@hocs|@hooks)/(.*)$",
    "^(@components|@examples|@icons)/(.*)$",
    "^(@utils|@styles|@constants)/(.*)$",
    "^@/(lib|posts)/(.*)$",
    "^@/(.*)/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true
}
