{
  "semi": false,
  "tabWidth": 2,
  "printWidth": 120,
  "importOrder": [
    "^(@store)/(.*)$",
    "^(@modals|@pages)/(.*)$",
    "^(@hocs|@hooks)/(.*)$",
    "^(@components|@examples|@icons)/(.*)$",
    "^(@utils|@styles|@constants)/(.*)$",
    "^[./]"
  ],
  "importOrderSeparation": true
}
